.autocomplete-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.autocomplete-container > label {
  color: var(--color-dark-blue);
  margin-bottom: 1rem;
}

.input-search {
  height: 1.5rem;
  width: 220px;
  margin: 0 auto;
  border: 1.5px solid var(--color-primary-ocean);
  border-radius: 5px;
  padding: 0.5rem;
}

.data-list {
  display: block;
  position: relative;
  background-color: white;
  border: 1.5px solid var(--color-primary-ocean);
  border-radius: 5px;
  width: 220px;
  padding: 10px;
  left: 45px;
  max-height: 100px;
  top: 5px;
  overflow: scroll;
}

.data-list > option {
  margin-bottom: 1px;
  cursor: pointer;
  color: var(--color-primary-ocean);
}

.match >  mark {
	color: white;
  text-decoration: underline red;
	background-color: black;
}
.data-list > option:hover,
.active {
  background-color: var(--color-blue);
  color: var(--color-super-light-blue);
}

.data-list > .active-match {
  background-color: var(--color-blue);
  color: var(--color-super-light-blue);
}

.data-list > p {
  color: var(--color-primary-ocean);
}
