:root {
  --color-super-light-blue: #f5f9ff;
  --color-dark-blue: #05256a;
  --color-blue: #2c71f0;
  --color-primary-ocean: #15357a;
  --color-black: #131533;
  --color-red: #e30004;
  --color-grey: #d1d3d5;
}



.App {
  text-align: center;
  background-color: var(--color-blue);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color-super-light-blue);
}

.main-box {
  margin: 0 auto;
  padding: 1rem;
  min-width: 380px;
  background-color: white;
  min-height: 400px;
  border-radius: 5%;
  border: 1px solid #fefefe;
}

.main-box > h3 {
  color: var(--color-primary-ocean)
}


